<style>

table {
	table-layout: fixed;
	color: #9DE6A1;
}

td {
	width: 10%;
	color: #9DE6A1;
}

tr {
	font-size: 24;
	color: #9DE6A1;
}

table {
    border-collapse: collapse;
    color: #9DE6A1;
}

table, th, td {
    border: 3px solid black;
    color: #9DE6A1;
}

</style>